# Common node ignore
node_modules/
dist/
build/
.env
*.log

# Project specific
backend/.env
frontend/dist/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data
db.json
backend/prisma/dev.db
backend/prisma/dev.db-journal
error.log
error2.log
error3.log
