[build]
builder = "nixpacks"
buildCommand = "npm install @rollup/rollup-linux-x64-gnu --no-save && npm run build"

[deploy]
startCommand = "npm start --workspace=backend"
healthcheckPath = "/health"
healthcheckTimeout = 180
servicePort = 4000
