/* BurnerBurst Game styles */
@keyframes slidev {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 1000px;
    }
}

.burner-burst-cursor {
    animation: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink {
    50% {
        opacity: 0;
    }
}