#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  letter-spacing: -0.02em;
}

header p {
  font-size: 1.25rem;
  margin-top: -0.5rem;
}

button {
  font-family: inherit;
}